[2016-01-27 13:14] JMSDOnline opened #7 "Bandwidth meter - possible issue"
Referencing here for organization...
JMSDOnline/quick-box-update#1

[2016-01-27 22:31] Switouney opened #8 "update problem"
Yo,

i have update ur script and i have many bug, already try a reboot : http://prntscr.com/9vp0qc

need solution please :D

[2016-01-27 22:35] JMSDOnline commented on #8
Could you swing me your server details to
jmsolodesigns via Skype?

The update via the release packages should not had been ran, but I can attempt to repair it for you.

[2016-01-27 22:44] #7 closed

[2016-01-27 23:07] Switouney commented on #8
no problem, added u

[2016-01-27 23:53] #8 closed

[2016-01-30 10:39] scriptzteam opened #14 "Ubuntu 15.10 Error"
scriptzteam@xyz:~$ sudo quickbox

sudo: parse error in /etc/sudoers near line 20
sudo: no valid sudoers sources found, quitting
sudo: unable to initialize policy plugin

now i can not SUDO !!!

[2016-01-30 13:32] JMSDOnline commented on #14
```apt-get install sudo```
It looks like your server requires it to be installed first. I'll double check dependencies.

[2016-02-01 18:40] JMSDOnline commented on #14
No details or follow response :: closing

[2016-02-01 18:40] #14 closed

[2016-02-03 14:51] RXWatcher1 opened #16 "sudoers"
isnt the
user ALL=(ALL:ALL) NOPASSWD: ALL
www-data     ALL=(ALL:ALL) NOPASSWD: ALL

a very large security risk? You're basically giving those users full access to run all commands without prompting. As a test, I was able to use 'sudo apt-get update' and 'sudo reboot' as the user.

I am more concerned about www-data having that ability than my master user.

[2016-02-03 15:21] JMSDOnline commented on #16
If this were intended as a commercial application, then yes... www-data would hold no sudo privileges and only a set line of commands would be given sudo access. However, this is not a commercial application and this is intended for single-user (and though it is multi-user friendly - you should be mindful of who you share your server with) use... thus, it's like saying it is insecure to the root a

[2016-02-03 15:32] JMSDOnline commented on #16
Also, please bare in mind.. this is a public sandbox and it is intended only as an example platform. This is not a reflection of the actual Swizards setup within their infrastructure on paid-for services. This is meant to be adapted by the users that use the script.

[2016-02-03 16:13] RXWatcher1 commented on #16
I understand. I just found this yesterday and loaded it on a VM locally to compare, not on my server in the wild.

It is significantly different than the swizards setup on my current seedbox which uses laravel.

My intent is actually to fork/pull as I have time to improve it. I would like to see more addons like the plex/btsync and I noticed the " web console" for my user is broken. I'm not sure o

[2016-02-03 16:19] JMSDOnline commented on #16
@RXWatcher1 , I really appreciate any of your reports that you have time to submit. This is far different in comparison.. and you are right, there are a few features and enhancements that users would like to see. The big goal is to have this as a means for the community to play around and potentially produce a "panel by the people for the people" project for a wonderful community.

The Swizards pa

[2016-02-03 16:27] RXWatcher1 commented on #16
I have the utmost respect for @kclawl so if this project has his blessing then, I'll contribute as I can. Part of me wanted to make sure it was on the up and up and not working against him to try to take away from his efforts that he's already put in. I honestly wouldn't participate if that was the case.

[2016-02-03 16:29] JMSDOnline commented on #16
Absolutely and thank you for the respect... myself and @kclawl are in daily/hourly contact. Thanks for your support!

[2016-02-03 18:57] #16 closed

[2016-02-04 13:34] bsormagec opened #17 "Not working version check"
[https://github.com/Swizards/QuickBox/blob/master/quickbox.sh#L46-L49](url)

version check script for /usr/bin/quickbox not working its writing into file Not Found only please fix that

[2016-02-04 13:42] JMSDOnline commented on #17
Thank you for your report @bsormagec! I have removed the version check line as it is no longer needed. The version can be found under the username dropdown (top right). There will be more adjustments to this at a later time.

[2016-02-04 13:46] bsormagec commented on #17
You are wellcome! @JMSDOnline, when i have some free time i will be develop something for this project but you make really good job with this project thanks for everything.

[2016-02-04 13:46] #17 closed

[2016-02-22 12:24] br3nn opened #20 "Created Users"
The installation is perfect just wondering if anyone else as the same issue with created users. I ran createSeedboxUser and made a new user, with quota. But within the web console it seems the new user account can in fact navigate to another users home folder, to view, delete, and create. Ive ran the script on a clean ubuntu 15.10 install, no errors when installing.

[2016-02-24 22:05] clegall opened #21 "webconsole don't work"
Login to webconsole don't work.

[2016-02-26 01:27] Setsuneh opened #22 "Logs auth.log"
Hi !

With a _cat /var/log/auth.log_, I've got a lot of strange reports. How resolve it?

This problem results about when i'm connected on the GUI Plateforme only.

[2016-02-27 13:29] Setsuneh commented on #22
UP.

[2016-02-27 18:09] RXWatcher1 commented on #22
So you dont want the sudo commands to show up in the auth.log? That is very dangerous.

You need to dig into how this GUI works. The gui runs as the www-data user and then uses sudo to execute commands that need to be run as root. If you look at /etc/sudoers you'll see that the www-data user has the ability to run ALL commands as root without being prompted for the www-data password. This is massi

[2016-03-06 02:59] warplayer opened #23 "BT Sync won't start"
I click on the slider to turn BT Sync on, the page reloads and I get the message "Hey warplayer: Im going to enable btsync ... Please allow 5 minutes for it to start ... " but the BTSync slider stays grey and the service never starts.

I could always just install BT Sync myself, but I really want to have it controllable from my QuickBox dashboard. Please help, thank you.

[2016-03-06 04:01] warplayer commented on #23
Sorry, I got it running now. I just uninstalled then reinstalled BTSync through the Quickbox dashboard and it is now running. Only thing is, now I can't connect! I tried the default port of 8888 but it's not working. What port is it running on?

[2016-03-14 06:11] wjbeckett opened #24 "QuickBox Docker?"
Is there any chance of this being made into a Docker Image?
I'd love to run this containerized I just don't have the know how to build a Docker Image myself..

[2016-03-15 02:59] wjbeckett opened #25 "autodl-irssi issue"
irssi will not connect to any servers.
I can see it's setting the hostname from somewhere but even if I update the irssi config file to blank out the hostname it still won't connect to any servers.

[2016-03-16 22:04] wjbeckett commented on #25
I managed to fix this issue on my install.
I added hostname = "" to my irssi config file found in /home/<username>/.irssi/.

I also noticed that the autodl-irssi rutorrent plugin didn't have the conf.php configured.
So I added the autodlPort and autodlPassword found in /home/<username>/.autodl/autodl2.cfg and it seemed to now work.

[2016-03-17 23:20] Farquaad56 commented on #23
same problem BTSync doesn't start and work out of the box

[2016-03-17 23:33] warplayer commented on #23
I ended up just loading my own install of BTSync in another directory on my seedbox. It's working great, but I would much rather use my QuickBox install so I can make use of the On/Off button on the Dashboard.

[2016-03-17 23:47] JMSDOnline commented on #23
Thanks for the updates... I am now back from some extended /away time. I'll look into these issues here in the next couple of days. I have a few things that need to be addressed in the script... shouldn't be hard at all to implement an update either, so stay tuned. :smile_cat:

[2016-03-17 23:59] warplayer commented on #23
Thanks for responding, that's fantastic! I was wondering how I was going to get this working without having to run the whole Quickbox install. Btw I'm really loving the whole setup you've created here, great work.

[2016-03-18 22:50] #23 closed

[2016-03-18 22:55] JMSDOnline commented on #24
Hello @wjbeckett ,

I am going to be looking into converting this (or at least providing a version of) into a Docker image in the near future. Before then, I am needing to clean up a few security gaps as well as reorganize the structure of the panel itself.

[2016-03-18 23:01] JMSDOnline commented on #22
Thanks @RXWatcher1!

I am actually going to be releasing an update by the end of this weekend that addresses these security concerns. The update will involve a restructuring of the template as well as setting only a limited amount of commands that www-data may perform.

@Setsuneh, be on the lookout for the update in case you are still in need of this... and yes, those logs are merely documenting a

[2016-03-18 23:49] wjbeckett commented on #24
Ah perfect!
I'm currently running QuickBox in a VM and have it working nicely now so
I'll continue to run that until there is a Docker image.
😊

On Sat., 19 Mar.,2016, 8:55 am Jason Matthews, <notifications@github.com>
wrote:

[2016-03-19 19:37] #22 closed

[2016-03-19 19:39] JMSDOnline commented on #20
Thanks for the report @br3nn. Now that a new series of updates are committed, I will look into trying to to duplicate this issue.

[2016-03-19 23:55] gokudarkaqw opened #35 "Issue with Disk space view"
Hello,

Just installed your wonderfull auto-script on a fresh debian 7.

I got this issue with disk space view : http://prntscr.com/ahfwx1
Besides, i don't have a /home partition, all is set on / as you can :
[root@seedbox]:(1.0Mb)~# df -h
Sys. fich.                                             Taille Util. Dispo Uti% MontÃ© sur
rootfs                                                   292G  3,5G  2

[2016-03-20 00:37] JMSDOnline commented on #35
@gokudarkaqw, make sure you do an initial quota limit for the user.

Type ``setdisk`` from the command line and you can enter in the limits.

Please shout if there is anything else... also, thanks for the compliment! :smile_cat:

[2016-03-20 02:18] demonotaku opened #36 "error when building"
Cloning into '/root/tmp/QuickBox'...
remote: Counting objects: 3787, done.
remote: Compressing objects: 100% (119/119), done.
remote: Total 3787 (delta 53), reused 0 (delta 0), pack-reused 3663
Receiving objects: 100% (3787/3787), 53.68 MiB | 877.00 KiB/s, done.
Resolving deltas: 100% (890/890), done.
Checking connectivity... done.
quickbox.sh: line 1183: syntax error near unexpected token `done'

[2016-03-20 02:21] JMSDOnline commented on #36
What OS/Distro are you getting this error on? I will attempt to reproduce quickly.

[2016-03-20 02:28] demonotaku commented on #36
Ubuntu 15.10

On Sat, Mar 19, 2016 at 7:21 PM, Jason Matthews <notifications@github.com>
wrote:

[2016-03-20 03:40] JMSDOnline commented on #36
@demonotaku, you may want to rm -rf that ``/root/tmp/`` directory and reinstall. I just scanned through the script and fixed a number of queues that were out of sorts after the last big version update.

[2016-03-20 03:47] demonotaku commented on #36
I cleared the tmp after i got done with dinner about 10-20 minutes ago to
fix the script issue

If you advise me to start over I will.

On Sat, Mar 19, 2016 at 8:40 PM, Jason Matthews <notifications@github.com>
wrote:

[2016-03-20 03:54] JMSDOnline commented on #36
Yes, I suggest you re-download the repo and run the install once more. It should complete without issue. I just ran it on Ubuntu 14.04 - 15.10 as well as Debian 8 and had no complaints. :smile_cat:

[2016-03-20 03:59] demonotaku commented on #36
Cool; redoing my server then i got to start building my ultra box :100:

[2016-03-20 09:28] gokudarkaqw commented on #35
Works perfectly fine now :D Thank you a lot for this quick answer !!

Keep up the good work !

[2016-03-20 09:28] #35 closed

[2016-03-20 14:23] #36 closed

[2016-03-30 19:12] jacobmmp opened #40 "Feature Request: SickRage and CouchPotato"
Hi,

Love the script, nice idea, but would be even greater if you added support for SickRage and CouchPotato then it would be the ultimate setup more or less.

[2016-04-02 00:05] HDVinnie opened #41 "Web Console Commands"
Console commands like set disk are not working?

[2016-04-02 00:17] JMSDOnline commented on #41
I would need more details in order to find resolution on this.

When you type in SSH as root or the master sudoer (installer of the script) what is returned when you type in ``setdisk``

There have been no other reports in regards to this type of issue, so any additional evidence you can provide will be greatly appreciated.

[2016-04-02 00:21] JMSDOnline commented on #40
:+1: SickRage and CouchPotato are potential candidates for include. There is no ETA, however; I will keep this here as a reminder.

As an addendum to this:
As I am incredibly busy with client projects, anyone wanting to include these and modify the panel to include them may do so as the project is entirely open-source. :smile:

[2016-04-02 00:56] HDVinnie commented on #41
I log into quickbox GUI using the main sudden account. Click Web Console. type username and pass of sudoer. says authenticated. type setdisk and say command not found. or if I SSH first then setdisk. I get following error:

/etc/ssh/ssh_config: line 55: Bad configuration option: permitrootlogin
/etc/ssh/ssh_config: terminating, 1 bad configuration options

Im sure I'm doing it wrong. but i need to

[2016-04-02 02:08] JMSDOnline commented on #41
The GUI Web Console is not to be substituted for master commands. You will need to login via SSH as root in order to run the administrator commands. The GUI Web Console is for a limited set of commands, i.e; creating directories, unzipping archives..etc.

You can login to ssh via your server ip on port 4747

[2016-04-02 03:02] HDVinnie commented on #41
ok opened terminal on my MAC. ran following ssh username@IP -p4747
it connected fine
typed setdisk
command not found?

[2016-04-02 03:08] HDVinnie commented on #41
I figured it out...thanks for the assistance. I feel dumb.

[2016-04-03 17:42] Keevar opened #42 "Error when installing dependencies ( _depends )"
Hello.
Sorry, I do speak little English.
I hope I will get to explain my problem.

The person who showed me the software has the same problem.

I'm on Debian 8.4 (jessie) http://prntscr.com/ano0bv
I try to install QuickBox, but it does not work.
The installation seems to be fine, but not much has been installed.

I gave my server 0, then I deleted `>>"${OUTTO}" 2>&1` the installation script for er

[2016-04-04 18:06] JMSDOnline commented on #42
Could you try the following:

``apt-get update --fix-missing``
followed by
``apt-get install php5-geoip``

See if this installs php5-geoip dependencies. I am going to review why these may be failing. Do you by chance have a server with ipv6 enabled?

[2016-04-04 18:27] Keevar commented on #42
My installation is clean (just reinstall before using the script), I can't have dependency Blublu program.

Yes I had a IPv6. I disable, but it made no difference to the problem. (I used your two commands before and after disabling IPv6)
http://prntscr.com/ao3yua

It does not come from the SED distribution (testing)? The package may have changed, as we move on the testing branch, and that packets

[2016-04-04 18:41] JMSDOnline commented on #42
@Keevar, thank you for pointing that out... the testing branch on Debian builds will cause massive conflicts in Debian builds. I have commented it within the [development tree](https://github.com/Swizards/QuickBox/tree/development).

I am running a test build here in the next 5 minutes to trial some issues for fixing. Thank you for bringing this to my attention once more.

[2016-04-05 16:42] Keevar commented on #42
Thank you, everything works

[2016-04-05 22:27] #42 closed

[2016-04-05 22:28] JMSDOnline commented on #25
Thanks for the input/feedback @wjbeckett. I'll leave this here as a note to others.

Potential F.A.Q. to be revived once more in the future for these case types.

[2016-04-05 22:29] JMSDOnline commented on #41
Glad you got it sorted @HDVinnie. :smile_cat:

[2016-04-05 22:29] #41 closed

[2016-04-05 22:30] #21 closed

[2016-04-09 05:35] warplayer opened #44 "Disk Status is blank"
Since I installed Quickbox the Disk Status pane hasn't displayed anything. I'm not really sure where to look for settings. I figure I just need to point it to the partition I'm using. (/dev/md3)

[2016-04-09 13:14] JMSDOnline commented on #44
@warplayer, have you typed in the command ``setdisk`` from command line to initiate the quota allowance per specific users?

[2016-04-09 14:54] chKaze opened #45 "Question about adding new links"
Hey Ive added madsonic to the installation and wanted to add a link to it.

`echo "<li><a href=\"madsonic\" target=\"_blank\"><i class=\"fa fa-play\"></i> <span>Madsonic</span></a></li>"`

This works fine but if I wanted to add the links as a subcategory like the ruTorrent links under Downloads the whole site stops working. (it doesnt load)

[code]

Im not really good with php so I dont understand

[2016-04-09 14:57] JMSDOnline commented on #45
Hey there @chKaze,

Check your code on this line:
``<a href=/"madsonic" target="_blank">``

Adjust it per php requirements as you have with the rest as such:

``<a href=\"/madsonic\" target=\"_blank\"> etc etc..``

Winner winner chicken dinner! :smile_cat:

Hey, feel free to fork and submit a pull request.. we'll add this to the script for future users eh.

[2016-04-09 15:11] chKaze commented on #45
ah perfect xD
thats the problem when you copy paste code. sometimes its not the same x)

So far I have added sickrage/couchpotato/madsonic working but I have done it manually. I can try fork it and include it in the script but I think I would cause more problems than I solve hehe

[2016-04-09 15:14] JMSDOnline commented on #45
Ah right on.

Well, if you just want to jot down your manual install notes, we can work on implementing them into the script... I'll chunk in some credit to you... consider me **mostly** lazy.

Thanks for playing around with the QuickBox and hope you find it mucho enjoyable. :+1:

[2016-04-09 15:17] chKaze commented on #45
I think its a wonderful tool and I am very grateful that you made it open source ^^

Ill try writing it up and adding it to the script

[2016-04-10 08:01] warplayer commented on #44
Yes, I had a hard time getting it to go above 1.7TB. I got a bit confused when trying to do setdisk. I should be able to assign 3TB I think. When I do a df it looks like this: http://imgur.com/NC1QKNr

[2016-04-10 12:54] JMSDOnline commented on #44
Ah, I see. You're setup is based on a /home partition layout. There are currently some issues with that. You will need to reassign quotas to measure from ``/home`` rather than``/``. Also, the diskspace plugin provided via ruTorrent will need to have some adjustments.

So, reset your quotas to read the read partition as follows:

[code]

Then to modify the diskspace plugin it would be:
modify the a

[2016-04-10 13:10] JMSDOnline commented on #44
Also, I think you were pointing at an example of 1.7TB. To set that you can set the value in MB and it will read it properly.

1740GB converts to 1.7TB

[2016-04-11 03:51] warplayer commented on #44
Thanks for all the great info. I wouldn't mind just using / instead of /home. I saw I had around 1 TB of space in / and around 1.7TB in /home, and I was trying to figure out how to just merge the two so I could have the full 2.7TB available but I couldn't figure out how. I'm not super well versed in linux. Thanks again for the help.

[2016-04-15 05:44] sohalartz commented on #44
Today i have install QuickBox everything goes well except disk status . i also run setdisk command in terminal but server says setdisk not found .

[2016-04-15 11:56] RaymondSchnyder opened #47 "Bandwith Meter network interface"
Hey developers!
Thank you for this amazing Thing of Software! Its very great and interesting.
But one small Thing bugs me:
In the Dashboard, the Bandwith is measured by the Interface "eth0".
Thats not always good, because not every hoster allows the use of this Network Interface (i have vmnet0:0)

is there any possibility to costumize this?

regards
Raymond

[2016-04-15 12:24] JMSDOnline commented on #47
Hey there @RaymondSchnyder!

It's actually supposed to pick up your network automagically and without any additional modification. There are some times I have noticed with say, esxi that it doesn't read the busy network port automatically the way it is intended.

You can find the areas to modify this in the following files... you will notice ``eth0`` in the fields that need changing.

- /srv/rutor

[2016-04-15 12:30] JMSDOnline commented on #44
@sohalartz, could you provide a few more details?

1. What OS/Distro are you using
2. Are you using a /home primary partition
3. What are the results of ``df -h`` via ssh
4. Are you running the ``setdisk`` command as the master and/or root account
5. Did you install the script as root

Thanks!

[2016-04-16 01:00] vince-p opened #48 "Version number not displayed"
Hi,
I noticed that the version number of quickbox does not show up when I click the user name in the top right. Is this a problem? Will this prevent upgrading to more recent versions?
![screen](https://cloud.githubusercontent.com/assets/3746799/14578090/61bb9c3e-03c2-11e6-8845-15a75164cfcd.png)

[2016-04-16 02:06] warplayer commented on #44
Okay so I finally got around to trying the steps you outlined above and I got an error.

[root@warbox]:(11.7kb)/# quotaon -uv /home
quotaon: Mountpoint (or device) /home not found or has no quota enabled.

I think I am just fundamentally not understanding user disk quotas. My "df -h" is still the same from the screen shot above. Starting from the beginning, how can I set my seedbox to use the max

[2016-04-16 02:09] JMSDOnline commented on #48
Heya @vince-p!

It's not a problem, it is however a minor hiccup with the import of the version upon script install. This is to no fault of user etc... it is honestly a fault of the script. I'll get this fixed up soon. In the meantime, you are certainly running the most current as the logo is a giveaway.

There will be updates here within the next couple of weeks in regards to some feature request

[2016-04-16 02:20] JMSDOnline commented on #44
Hey @warplayer,

This is actually something you would need to setup with your hosting provider. What is happening is it looks like your system is not raid enabled. You have two disks, in order to utilize them as essentially one, you'll need a raid setup.. i.e; RAID 0 is a fairly standard choice.

If you're ok with starting from scratch, I would request a reinstall of this server and request it be

[2016-04-16 05:20] oOMrYairOo opened #49 "Fwe error and improvements"
Errors:
The commands under root not working
like quickbox returns command not found
and rest of commands the same error command not found
from the dashboard when you click enable BTSync
it tells you wait 5 minutes before enable
but nothing happens after 15 minutes
some how it cannot install or enable BTSync via dashboard
from the dashboard if you click on web console it redirects to page
whit erro

[2016-04-16 09:04] TinyJo opened #50 "Would Deluge be integrated into Quickbox?"
Running rtorrent and Deluge simultaneously. Now I installed Deluge manually, it would be convenient IMO. Thanks.

[2016-04-16 12:06] sohalartz commented on #44
@JMSDOnline i'm using Ubuntu server 14.04 x86_64
output for df -h
Filesystem      Size  Used Avail Use% Mounted on
udev            3.9G   12K  3.9G   1% /dev
tmpfs           799M  340K  799M   1% /run
/dev/vda1        79G   14G   63G  18% /
none            4.0K     0  4.0K   0% /sys/fs/cgroup
none            5.0M     0  5.0M   0% /run/lock
none            3.9G   72K  3.9G   1% /run/shm
none

[2016-04-16 12:25] JMSDOnline commented on #49
It sounds as if your script install was corrupted.

If the alias was not created properly then you would have a white screen returned for the web console. Did you install the script as root. Also, are you working with a server that uses ``/home`` as the primary mount point?

In regards to http(s) - you canot have one without the other. There needs to be a port open (80) in order for traffic to com

[2016-04-16 12:28] JMSDOnline commented on #50
Hi there @TinyJo,

Unfortunately, I am not a fan of the resources that Deluges python processes take up on a server. With the dizzying array of server builds out there, Deluge as well as just the Daemon for thin client may run splendidly on one server, yet bog down another server.

I know this may be a deal breaker for the Deluge fans, it's just another added resource to a server environment.

[2016-04-16 12:31] JMSDOnline commented on #44
@sohalartz, interesting... thanks for taking the time to send me some feedback. By chance, what is returned with the command ``quotaon -uv /``?

We can use a standalone ``setdisk`` script - I just want to make certain that quotas are good before attempting a fix.

[2016-04-16 12:55] RaymondSchnyder opened #51 "VSFTPD wont start"
Hey Quickbox developer team,
me again, found another "bug" (maybe its a bug which i produced accidentally)

The FTP service  (vsftpd) wont start.
 The log file (/var/log/vsftpd.log) is empty and the config looks correct.

Is there any other logfile i didnt see?

Regards
Raymond

[2016-04-16 13:03] JMSDOnline commented on #51
Hello again @RaymondSchnyder,

Are the results better if you try ...
``sudo /etc/init.d/vsftpd restart``

[2016-04-16 13:12] RaymondSchnyder commented on #51
Nope, didnt work

Stopping FTP server: No /usr/sbin/vsftpd found running; none killed.
vsftpd.
Starting FTP server: vsftpd.
[root@media]:(79.3kb)/var/www# sudo /etc/init.d/vsftpd status
vsftpd is not running
[root@media]:(79.3kb)/var/www#

Thats the result i get

[2016-04-16 13:14] JMSDOnline commented on #51
That's no good. What does ``ls -l /etc/init.d/vsftpd`` that command return?

[2016-04-16 13:22] RaymondSchnyder commented on #51
-rwxr-xr-x 1 root root 2321 Jan  8  2012 /etc/init.d/vsftpd
[root@media]:(17.7Mb)/var/log/apache2#

Returns that. (here as picture: http://i.imgur.com/LRqE8uK.png)

[2016-04-16 13:23] JMSDOnline commented on #51
Awesome! Now let us try the next command and see what it returns: ``ls -l /usr/sbin/vsftpd``

[2016-04-16 13:25] RaymondSchnyder commented on #51
-rwxr-xr-x 1 root root 163944 Mar  4  2012 /usr/sbin/vsftpd
[root@media]:(0b)/srv#
 Picture: http://i.imgur.com/5VQCsIm.png

Thanks alot for helping me, you are really nice :-)

[2016-04-16 14:03] JMSDOnline commented on #51
When you try to connect via FTP, does it return anything in particular?

[2016-04-16 14:05] sohalartz commented on #44
@JMSDOnline
output for quotaon -uv /
quotaon: Mountpoint (or device) / not found or has no quota enabled.

[2016-04-16 14:12] RaymondSchnyder commented on #51
http://i.imgur.com/MplgilN.png here is a picture of the ftp client. It doesnt return anything, because i cant start vsftpd

[2016-04-16 14:17] JMSDOnline commented on #51
Right, I just need to verify. It looks like there is actually an issue with vsftpd itself. In the meantime, you can connect via port 4747 [SFTP] - I am going to mark this as a bug and look into this a bit later when I have more time. I can confirm that even on user creation, it is not properly adding users to the file for connect.

[2016-04-16 14:34] RaymondSchnyder opened #52 ""System Response""
I see no text on your github site which explains what this function do.
I thought i can send users with "mail" mails and they can read it, but that would be weird.
Is there a documentation i didnt find / see?

Thank you for your nice script.

I wish you a great day

Regards
Raymond

[2016-04-16 14:41] sohalartz commented on #44
@JMSDOnline
[quickbox.txt](https://github.com/Swizards/QuickBox/files/222235/quickbox.txt)
i made new installation this time setdisk command working but in admin panel still disk status is empty . log file attached .

[2016-04-16 14:46] JMSDOnline commented on #52
System Response within the Dashboard is exactly that... it is a simple response field for the systems response to various tasks/functions committed when you interact with the Panel. It does not mail users.

I assume this is what you are implying you think this does.

[2016-04-16 14:59] JMSDOnline commented on #44
@sohalartz, Is the result for ``quotaon -uv /`` still the same?

[2016-04-16 15:28] #52 closed

[2016-04-16 15:34] JMSDOnline commented on #51
@RaymondSchnyder, could you please attempt the following. I found that the issues stated by yourself and what I would encounter are two separate problems. See #56 for the scenario we were facing. VSFTPd is however, running without issue.

Try this:

[code]

Now create the needed chroot file for users...
[code]

Now restart the services...
[code]

Please let me know if this helps. Additionally, as

[2016-04-16 16:38] sohalartz commented on #44
@JMSDOnline yes same as above

[2016-04-16 16:45] JMSDOnline commented on #44
@sohalartz, could you show me the return of ``cat /etc/fstab``

[2016-04-16 17:20] sohalartz commented on #44
LABEL=cloudimg-rootfs   /        ext4   defaults        0 0

[2016-04-16 17:26] RaymondSchnyder commented on #51
I try this immediatly soon as i can! will be reporting if it works!

[2016-04-16 17:28] RaymondSchnyder commented on #20
I can confirm that this issue is existing on my server too.

[2016-04-16 17:31] sohalartz commented on #44
@JMSDOnline i tried original Novik Diskspace plugin it works in rutorrent ui but not in admin panel so i revert back again to your modified plugin.

[2016-04-16 17:58] RaymondSchnyder opened #57 "Forbidden Syntax"
Hello developers, wow my 4. issue today.

Soo i have a question about this jail you did for the users.
One of my users would like to start an SH File, but he cant because he has not the permssion to do this syntax: ./ServerStart.sh

*** forbidden syntax: ./ServerStart.sh
timo:~/Minecraft$

Is there a possibilty i can add a exception for a user or to remove the restriction with "./"?

Sorry for ann

[2016-04-16 18:14] HDVinnie opened #58 "features not working?"
Im not sure if I did something wrong or not but install went fine and setdisk worked. Heres my issue. On panel you can see its says Rtorrent disabled and iRSSi-Autodl yet under service controller they are set to on.

Next issue is that the bandwidth graph is not working....just blank.

Also quote shows size i set it to but is not showing what is used. Same when in rutorrent. shows 0% and when hove

[2016-04-16 18:15] HDVinnie commented on #58
PS this script is awesome and its really awesome you guys made it open source!

[2016-04-16 18:47] RaymondSchnyder commented on #51
THIS WORKED!! Wow thank you! This patch worked for me!
Thank you for your amazing work! keep going!

[2016-04-16 18:47] #51 closed

[2016-04-16 19:50] JMSDOnline commented on #57
Yes, you can permit whichever commands you would like.

You can modify the restrictions within the **lshell.conf** file located at ``/etc/lshell.conf``

[2016-04-16 20:04] JMSDOnline commented on #20
Thank you for the confirmation. This is a known issue. However, please bare in mind this script should not be used in regards to a commercial offering. It is not intended to be a sort of Seedbox-from-scratch script for potential providers. This is a community developed and maintained script... as such, the web console does still have some bugs as per not playing into the guidelines of the users li

[2016-04-16 20:22] JMSDOnline commented on #58
Hello @HDVinnie,

Yes, this is a known issue with any server using **/home** as the primary mount partition.

The solution would be to reset quotas and assign them to that particular mount as quotas within the script are mounted to **/**

This fix isn't too terribly complicated and will be built into a future version.

In the meantime, try this out:

[code]

You will additionally need to make a qu

[2016-04-16 20:42] JMSDOnline commented on #44
@warplayer, since /home is your primary mount, you may want to look into my post and patch here #58 .

@sohalartz, you may need to actually rebuild your quotas as it looks like they never got set via the script. I am not too certain what your environment for the server is so it may be how the provider has delivered it... and it just so happens to be completely new to me.

Your step may involve a l

[2016-04-16 20:46] oOMrYairOo commented on #49
when i install the quickbox i dont get any error
everything was smooth during the install
i try on clean ubuntu 14.04.4 lts server edition and debian 8
also clean install.
the bugs is the same on both linux os's
i can access quickbox and rutorrent on http and https
and yes i run the script as root user

when i install os i make 10 gb root partition and the rest of disk space as home folder

how ca

[2016-04-16 21:05] RaymondSchnyder commented on #57
Okay, thank you for your answer. Good for me that i dont have savvy friends

[2016-04-16 21:05] HDVinnie commented on #58
Wow talk about great support for a open source project. Thank you and I will try this tonight and report back.

[2016-04-16 21:06] RaymondSchnyder commented on #57
I cant find the file you mentioned, is the path you gave me correct?

[2016-04-16 21:06] #57 closed

[2016-04-16 21:32] JMSDOnline commented on #49
Unfortunately, we cannot reproduce this. There is an .htaccess file with the following contents in the rutorrent/dashboard root directories that enforces otherwise.

Contents of the .htaccess are as follows:
[code]

I just ran this test against the Distros/OS you say this bug exist Ubuntu 14 & Debian 8. In both scenerios, I could not access without being directed to port 443 as https. I will conti

[2016-04-17 05:10] sohalartz commented on #44
@JMSDOnline i modified `/etc/fstab`

`LABEL=cloudimg-rootfs   /        ext4   defaults      0 0`
to
`LABEL=cloudimg-rootfs   /        ext4   defaults,usrquota,grpquota      0 0`

then reboot

`quotaoff -a`
`service quota stop`
`mount -o remount /`
`quotacheck -auMF vfsv1`
`quotaon -uv /`
`service quota start`
run `setdisk` command to set quota

[2016-04-17 05:47] sohalartz commented on #44
@JMSDOnline disk status is working but need to update stats manually from terminal by running
`quotacheck -auMF vfsv1`

[2016-04-17 09:10] systemuser1 opened #61 "Screenshots creation takes too long time."
I am the only user using the seedbox at the moment.
I downloaded a 2-8 GB video file, In file manager when i create screenshots from them it takes a minimum of 199 seconds for a 2GB video file and 300+ seconds for 5GB + files.
Plus the size of screenshot is no less than 1.6MB. I have tried pulling screenshots from other seedbox, but it was through SSH and the size of screenshot was around 450 KB.

[2016-04-17 12:04] RaymondSchnyder opened #62 "rtorrent SSL not working"
Hello Developer, me again haha

So i find an issue, which could be only my issue, but maybe others have the same.
for some specific sites, i have to use the rtorrent version 0.9.3.
The problem is, i cannot use torrents with SSL.
a normal http file without SSL works, but with SSL its not working.
Is there any workaround or a config which im able to edit?

I hope you have a good sunday and i wish yo

[2016-04-17 13:49] RaymondSchnyder commented on #62
here is the fix i found for this:
add in your users rtorrent config the following:
network.http.ssl_verify_peer.set=0

This way, the SSL certificates from the trackers wont verificated! Beware of the Risks

[2016-04-17 13:49] #62 closed

[2016-04-17 14:09] JMSDOnline commented on #61
I understand your concern, however, the screenshot plugin is that provided from the official ruTorrent repositories. The script as it is will not effect any of these matters. I will run some trials tomorrow, however, this is more than likely not related to the script in any way. I will update you with my own results once I have them.

Also, if you are wanting some fine tuning for your server you c

[2016-04-17 14:15] HDVinnie commented on #58
[root@blah]:(829.6kb)~# quotaoff -a
[root@blah]:(829.6kb)~# quotaoff -a
[root@blah]:(829.6kb)~# service quota stop
[root@blah]:(829.6kb)~# mount -o remount /home
[root@blah]:(829.6kb)~# quotacheck -auMF vfsv1
[root@blah]:(829.6kb)~# quotaon -uv /home
quotaon: Mountpoint (or device) /home not found or has no quota enabled.
[root@blah]:(829.6kb)~# service quota start
[root@blah]:(829.6kb)~#

I then

[2016-04-17 14:18] HDVinnie commented on #58
do i need to delete all the user accounts first? remake them all with new setdisk quotas ?

[2016-04-17 14:23] JMSDOnline commented on #58
Try to run it again, I think I left out an important step in my Saturday booze haze. :stuck_out_tongue_winking_eye:

[code]

You should not have to remove any accounts as it should pickup the aquota file that is adjusted per the command ``setdisk``

Let me know how that goes and we'll move forward from there. If it continues to act up and you feel comfortable with it, you can email me your server

[2016-04-17 14:26] JMSDOnline commented on #58
After you have done that, run ``repquota -a`` and let me know those results.

[2016-04-17 14:35] HDVinnie commented on #58
[root@blah]:(829.6kb)~# quotaoff -a
[root@blah]:(829.6kb)~# service quota stop
emount-ro/g' /etc/fstabb)~# sed -i 's/errors=remount-ro/usrquota,errors=r
[root@ blah]:(829.6kb)~# mount -o remount /home
[root@ blah]:(829.6kb)~# quotacheck -auMF vfsv1
[root@ blah]:(829.6kb)~# quotaon -uv /home
quotaon: Mountpoint (or device) /home not found or has no quota enabled.
[root@ blah]:(829.6kb)~# service qu

[2016-04-17 14:36] systemuser1 commented on #61
I appreciate your time and efforts.
This script works great for me. The only thing is the screenshots size, and time taken for screenshot creation.
Will wait for you reply.
Thank You so much.

[2016-04-17 14:37] HDVinnie commented on #58
I don't want to be a pain so I can just wait for stable release that works with /home if need be

[2016-04-17 14:39] JMSDOnline commented on #58
Will you do ``cat /etc/fstab`` for me real quick. Also, this is not a problem... it will help me further along in my conclusion for **/home** mounts

[2016-04-17 14:40] HDVinnie commented on #58
[root@blah]:(829.6kb)~# cat /etc/fstab
# <file system>	<mount point>	<type>	<options>	<dump>	<pass>
/dev/md2	/	ext4	usrquota,usrquota,errors=remount-ro,relatime	0	1
/dev/md3	/home	ext4	defaults,relatime	1	2
/dev/sda4	swap	swap	defaults	0	0
/dev/sdb4	swap	swap	defaults	0	0
/dev/sdc4	swap	swap	defaults	0	0
proc		/proc	proc	defaults		0	0
sysfs		/sys	sysfs	defaults		0	0
devtmpfs	/dev	devtmpfs	rw	0	0

[2016-04-17 14:43] JMSDOnline commented on #58
Ah, ok.. I see.

Can you adjust the /etc/fstab to look as follows:

[code]

[2016-04-17 14:49] HDVinnie commented on #58
done

now rerun-
quotaoff -a
service quota stop
sed -i 's/errors=remount-ro/usrquota,errors=remount-ro/g' /etc/fstab
mount -o remount /home
quotacheck -auMF vfsv1
quotaon -uv /home
service quota start
service apache2 restart

?

[2016-04-17 14:50] JMSDOnline commented on #58
Just rerun this bit..

[code]

[2016-04-17 14:51] HDVinnie commented on #58
[root@blah]:(829.6kb)~# quotaoff -a
[root@ blah]:(829.6kb)~# service quota stop
[root@ blah]:(829.6kb)~# mount -o remount /home
[root@ blah]:(829.6kb)~# quotacheck -auMF vfsv1
[root@ blah]:(829.6kb)~# quotaon -uv /home
/dev/md3 [/home]: user quotas turned on
[root@ blah]:(829.6kb)~# service quota start
Job for quota.service failed because the control process exited with error code. See "systemctl

[2016-04-17 14:52] JMSDOnline commented on #58
ok, what does ``systemctl status quota.service`` show us - we're almost there. :smile:

[2016-04-17 15:02] HDVinnie commented on #58
[root@blah]:(829.6kb)~# -l [root@ns527149]:(829.6kb)~# systemctl status quota.service
-bash: syntax error near unexpected token `('
[root@ blah]:(829.6kb)~# ● quota.service - Check And Enable File System Quotas
e: Main process exit...E
Apr 17 10:50:57 ns527149.ip-149-56-18.net systemd[1]: Failed to start Check And Enable....
Apr 17 10:50:57 ns527149.ip-149-56-18.net systemd[1]: quota.service: Unit

[2016-04-17 15:10] JMSDOnline commented on #58
Will you try ``/etc/init.d/quota start`` and see if this results in success?

[2016-04-17 15:16] HDVinnie commented on #58
Starting quota (via systemctl): quota.serviceJob for quota.service failed because the control process exited with error code. See "systemctl status quota.service" and "journalctl -xe" for details.
 failed!

[2016-04-17 15:17] JMSDOnline commented on #58
Yeah, it was a stretch. I am building a server now and I am going to mount /home. I will do some sampling and let you know what I find.

Although, I am curious... what if you tried to do ``setdisk`` on a user you already ran the command? Do not delete them, just run the command over them once more.

[2016-04-17 15:19] HDVinnie commented on #58
[root@blah]:(829.6kb)~# setdisk
Username: Main
Quota size for user: (EX: 500GB):
8000GB
[root@blah]:(829.6kb)~#

Done

[2016-04-17 15:20] JMSDOnline commented on #58
Wow, did it actually reflect as such on the users account?

[2016-04-17 15:23] HDVinnie commented on #58
http://i.imgur.com/zsmiGwJ.png?1

[2016-04-17 15:27] JMSDOnline commented on #58
Perfect! Your disk space is reflected properly. Now, as per the BW graph.

The following files need to be adjusted ...

1. /srv/rutorrent/home/widgets/stat.php -- $interface
2. /srv/rutorrent/home/widgets/data.php -- $int <-- at the top & echo '{"label":" <-- at the bottom
3. /srv/rutorrent/home/widgets/config.php -- $iface_list & $iface_title
4. /srv/rutorrent/home/inc/config.php -- $interface

l

[2016-04-17 15:27] HDVinnie commented on #58
also in rutorrent

http://i.imgur.com/7r7wVp2.png?1

[2016-04-17 15:29] HDVinnie commented on #58
but the widget for disk space still shows as 0% being used even though there is 25 torrents loaded? So it doesnt seem to be working

[2016-04-17 15:30] JMSDOnline commented on #58
Yeah, I am looking closer at it. What is the provider of this server?

[2016-04-17 15:30] HDVinnie commented on #58
OVH

[2016-04-17 15:31] HDVinnie commented on #58
Storage FS-12T - 16G Atom C2750 SoftRaid 3x4 TB Server

[2016-04-17 15:32] JMSDOnline commented on #58
Thank you, I am going to take a look at their setup.

[2016-04-17 15:32] HDVinnie commented on #58
thanks for everything ill report back on bandwidth graph

[2016-04-17 15:37] JMSDOnline commented on #58
I have created a patch for you... it's the disk_data plugin I created is repquoting the **/** mount. I have made the necessary adjustments.. this should now show as properly.

Upload this file to ``/srv/rutorrent/home/widgets/`` - overwrite the disk_data.php currently there.

[disk_data.php patch file via Dropbox](https://www.dropbox.com/s/55glw8cwsjql1nl/disk_data.php?dl=0)

[2016-04-17 15:52] HDVinnie commented on #58
Worked beautiful!

[2016-04-17 15:57] JMSDOnline commented on #58
Glad to hear!

Looks like I have my work cut out for me then as to adding the **/home** option to the script. I really appreciate your patience and feedback through this process.

[2016-04-17 16:00] HDVinnie commented on #58
no thank you! teql0 did not work but I will go through the list of them and try them all lol....unless you know a command or something i can run to find out

[2016-04-17 16:12] JMSDOnline commented on #58
Try ``ifstat`` and see which network adapter shows up as busy when you add a torrent.

[2016-04-17 16:17] HDVinnie commented on #58
eth0 LOL

going to redo it again with eth0 and report back

[2016-04-17 16:21] JMSDOnline commented on #58
Gotta love OVH....

[2016-04-17 16:24] HDVinnie commented on #58
lol well still a no go changing

/srv/rutorrent/home/widgets/stat.php -- $interface
/srv/rutorrent/home/widgets/data.php -- $int <-- at the top & echo '{"label":" <-- at the bottom
/srv/rutorrent/home/widgets/config.php -- $iface_list & $iface_title
/srv/rutorrent/home/inc/config.php -- $interface

but least of my worries....thats just a cosmetic perk. Thanks for everything.

[2016-04-17 16:27] HDVinnie commented on #58
eth0
 KB/s in  KB/s out
 6179.15    561.27
 5494.68    508.29
 3321.28    410.68
 3581.73    538.78
 3875.83    484.09
 3936.53    536.08
 3653.28    591.26
 1796.15    533.79
 2145.64    522.47
 2354.60    466.56
 2371.46    473.06
 2413.00    458.05
 2334.96    431.57
 2337.69    387.75
 2331.51    348.54
 2653.17    405.49
 3296.01    400.11
 4067.75    483.45

Just incase it can help you with

[2016-04-17 16:46] JMSDOnline commented on #58
It certainly will help, again, I appreciate your reports. I am going to look into OVH and see what in their setups may be blocking a proper read on the charts.

I'll shoot some updates your way in the next couple of days.

[2016-04-17 16:51] HDVinnie commented on #58
Thanks

[2016-04-17 18:24] HDVinnie commented on #58
ok one more question on this topic.....would anything we did mess up the other two boxs I have on this server. As main is working fine. Box1 and Box2 are working but when launching rutorrent for Box1 and 2 i just get the

[17.04.2016 14:21:35] WebUI started.
[17.04.2016 14:21:35] No connection to rTorrent. Check if it is really running. Check $scgi_port and $scgi_host settings in config.php and sc

[2016-04-17 18:59] JMSDOnline commented on #58
When the script was first committed I remember a few people had the issue and I have since resolved it, but for **/** mounts. This issue may be present in **/home** mounts still - as we have seen there are a few kinks to address.. am I right.. anyways.

Try as root to run it as this...

``sudo -u [username] screen -list``

Check the pid that is listed for both irssi and rtorrent.

Then kill the pr

[2016-04-17 19:14] HDVinnie commented on #58
No go but no worries. Remade box1 and 2 since they were pretty much empty. Working now

Thanks again

[2016-04-17 19:17] JMSDOnline commented on #58
Well that's good. I'm glad they weren't too vested in data and all is well now. If it did cause issue, that is again something I would need to personally monitor to know for sure rather than guess work. All is well though as I am now negotiating an OVH test server (glad people just have these things lying around). I'll be able to run all sorts of tests and apply fixes.

Be on the lookout for many

[2016-04-17 19:26] HDVinnie commented on #58
Cheers I got push notifications coming right to my iPhone : )

[2016-04-17 19:58] oOMrYairOo commented on #49
ok ... so now i make new fresh install of debian 8
i update the os then run the script again as root
now it seems everything i working fine except fwe commands under root
the command deleteSeedBoxUser doesn't work when i type this command under root user
i get message command not found
in the dashbord in packages when you click install BTSync it tells you that is going to install BTSync
but nothin

[2016-04-18 12:35] JMSDOnline commented on #49
@oOMrYairOo , out of curiosity since I really cannot duplicate any of your issues on the permitted OS/Distro - who is the provider you are using and is this a VPS or a dedicated machine?

[2016-04-18 15:39] JMSDOnline commented on #49
For the Installer/Uninstaller for BTSync you can patch this file by doing:

[code]
Change the line:
[code]
to
[code]

You will want to do this also for the package uninstaller at ``/usr/bin/removepackage-btsync``

[2016-04-18 17:43] oOMrYairOo commented on #49
Thanks for the replay :)
for now im testing this script on virtual box
long time i searching for good script for full seedbox setup
so before i rent some dedicated server i testing in virtual environment

[2016-04-18 17:47] JMSDOnline commented on #49
Well, in all honesty... I think if you are testing this locally or otherwise via virtual box... this is going to cause some issues with the full placement of the script as it may be limited to the virtual environment it is contained in.

Try spinning up a DigitalOcean droplet and testing there for more live results as to the scripts potential.

As an addendum to this - the #63 BTSync package insta

[2016-04-18 17:55] oOMrYairOo commented on #49
in virtualbox is like on hardware instalation
no kernel changes
other scripts working fine

this script is the best i found whit dashbord and quotas without  need webmin
just few things still need some touch

by the way in your post on torrent invites
ther are other people talking about the same bugs that i found
commands under root not all working
BTSync now that you fix
and quotas that need to s

[2016-04-18 18:03] JMSDOnline commented on #49
I have not encountered any issues with quotas unless this is (as mentioned) on a **/home** mounted install. All commands tested and working without error... again, the number of errors occurring are due to people disregarding the notice about the issue with **/home** mounted partitions.

Virtual Box may be hardware supported, however, drivers are can be/usually are limited as is the network.

PS:

[2016-04-18 18:16] oOMrYairOo commented on #49
:) no problem happy to help and support projects like this ...
as for BTSync: i tryed now the fix that you post ... now its working
but you cannot access to btsyncs's gui i got messege ''This site can’t be reached
10.10.25.100 refused to connect.''
the full address is on my local network
10.10.25.100:8888/gui/
for the quotas now i install debian 8 without home partition
and run the script again ..

[2016-04-18 18:17] JMSDOnline commented on #49
I'll double-test BTSync as I have a VM spinning up with the install running now. I will further test the root commands to see what issues there may be there. Debian 8.

[2016-04-18 18:27] JMSDOnline commented on #49
For your virtual box test... Do you have 2 IP assigned? One being a private IP as well as one public. I have noticed that local virtual box testing will fail in these sorts of scenarios due to the use of a private IP only available on the local network. In this instance one would need to modify your local computers /hosts/ file to be able to read UI assigned to the IP.... especially in the even of

[2016-04-18 18:38] oOMrYairOo commented on #49
no i have one interface on virtualbox that is bridged to my actual local network

[2016-04-18 18:55] adtpdn opened #65 "How to install Quickbox + Let's encrypt ?"
where's the root directory for .conf apache ?

[2016-04-18 19:05] JMSDOnline commented on #65
Hey there @adtpdn

/etc/apache2 is the standard root for the .conf of apache. You will find most of the links produced within ``/etc/apache2/sites-enabled/aliases-seedbox.conf`` as well as the ``default-ssl.conf``

I would love to use let's encrypt as I use it for production environments for my standard business clients. The only problem is that let's encrypt requires an A entry within your DNS. W

[2016-04-18 19:12] JMSDOnline commented on #44
@sohalartz, yeah, your grpquota is more than likely going to be the culprit of that issue.

[code]

I would try to stay on track with that

[2016-04-18 19:17] adtpdn commented on #65
sorry im noob :( ,

i've installed let's encrypt after Quickbox installation , then i access to https://<MyServerIP> changes to default apache2 page , so i change the root of directory from **/var/www/html/** to */srv/rutorrent/home/*

![Image](http://i.imgur.com/wcFwJiS.png)

my service controller switcher missing , can u help me solve this ?

[2016-04-18 19:24] JMSDOnline commented on #65
The installation already installs itself with a self-signed certificate, there really is no need for attempting let's encrypt on the seedbox - self-signed really is all that is needed as it encrypts your connection and you can trust that as it's your seedbox.

This is a standard implementation of the install with the ``default-ssl.conf``
[code]

Be sure you have told apache to restart after you ma

[2016-04-18 20:05] oOMrYairOo commented on #49
well i just now finish to install fresh debian
only whit root partition ...no home partition
i run the script after reboot  i run ''setdisk'' i added
all 250GB of 250GB root partition but still after reboot
i got warning that disk is full when is empty at all.

[2016-04-18 21:18] JMSDOnline commented on #49
Depends on how long you are waiting after you reboot. It can take the BTSync daemon up to 5 minutes to fire up after reboot. No reason for it to stop working after a reboot as these changes are made within your ``/home/$user/.startup`` file. If you see ``BTSYNC = Yes`` within that file then there is the possibility it is is simply taking a few minutes to ignite the daemon. Either that or the syste

[2016-04-19 02:55] oOMrYairOo commented on #49
Yes after as script finished installing everything i reboot the server.

[2016-04-19 04:36] sohalartz commented on #44
@JMSDOnline Finally i find a perfect solution which is working
i'm on kvm and quota is not enabled in virtual machine kernel so i need to enable it manually .
here is explained tutorial how to enable quota https://binaryguru.wordpress.com/2014/10/17/webmin-1-710-on-ubuntu-server-14-04-64-bit-running-on-amazon-ec2/

[2016-04-23 08:35] br3nn commented on #20
Brill,

I dont mind the bug so much as i was changing the password to the web console for that user different from there rutorrent password, But im totally more happy removing the whole thing for the dashboard,

Nice one :)

[2016-04-24 12:29] scotlandman opened #66 "fileupload: Plugin will not work. rTorrent user can't access external program (plowup)."
Hi Guys

Thank you very much for this wonderful Quickbox script :-)

I have installed fresh on new server but every time I open rTorrent I get this error message in the Log. fileupload: Plugin will not work. rTorrent user can't access external program (plowup).

Any advice or help in fixing this guys thanks it shows that my Fileupload plugin is not loaded

Cheers

[2016-04-24 21:36] scotlandman opened #67 "Plex no longer connecting from Quickbox"
Hi Guys

I was wandering if any of you have had any issues regarding Plex loading from within the Quickbox GUI.

I installed latest script on server and all was working fine had the server registered on Plex and streaming, Then today I tried to register another server so went onto my Plex account logged out my current server to add the new one and now the old server will not show up ?

I understan

[2016-04-27 00:00] tomcdj71 opened #68 "Replace Plex Media Server with Emby Server"
Hey,

Thanks for your amazing work.

I would want replace Plex with Emby. I managed to add a link in the Dashboard to access easily but it would be great if Emby was a native service.

Is there a way to make a Dashboard link on ruTorrent ?

[2016-04-27 22:41] andyk3006 opened #69 "how to install / instead of /home ?"
Sorry new to using linux and i am just wondering if someone can explan how i can install the Quickbox which isn't /home so that it wont have any issues ?

I can reinstall Ubuntu / re partition if required

Thanks in advance

[2016-04-27 22:44] JMSDOnline commented on #69
Hello @andyk3006 ,

I would actually recommend that for the time being. Once I truly have enough time to sit down and rewrite this function to be friendly with both ``/`` and ``/home`` primaries this will not be an issue. If you have the means to install Ubuntu with ``/`` being the primary partition, that would be highly advisable.

Thanks for trying out QuickBox! :smile:

[2016-04-27 22:46] JMSDOnline commented on #68
Hello @tomcdj71 ,

I will look into an Emby addition, however; nothing will replace Plex in this scripts current and future developments. I'll look into making a prompt between one or the other, as well as dashboard installs/links once time permits.

Thanks for the compliment and I hope you enjoy QuickBox :smile:

[2016-04-27 22:52] JMSDOnline commented on #66
@scotlandman, which Dist/Rel are you using?

[2016-04-28 03:13] andyk3006 commented on #69
Hi,
Thanks for your reply and help :)

I only have options of creating primary partitions via the server I'm renting.

Would the following work ?

Primary EXT4 /boot
Primary EXT4 /
Primary EXT /home
Primary SWAP

Thanks again

[2016-04-28 03:14] andyk3006 commented on #69
Primary EXT4 /home *

[2016-04-28 10:15] tomcdj71 commented on #68
It will be great :)

I've also readjust the Dashboard, and translate it in French (my native langage).

I don't know how scripts works but if you think add a language support in the future (working with the system language), maybe i'll can help you :)

[2016-04-28 20:06] scotlandman commented on #66
Hi Jason

Thanks for contacting me I'm using latest script and running on Ubuntu 14
something the stable one other that Ubuntu 15.

Hope that helps it basically disabled my browser on server so can't access
plex

On Wednesday, 27 April 2016, Jason Matthews <notifications@github.com>
wrote:

[2016-04-28 20:09] JMSDOnline commented on #66
Could you confirm if it is trying to access Plex via ``http:`` or ``https:``

[2016-04-28 20:16] JMSDOnline commented on #66
Fileupload, the plugin itself will not have any effect on Plex Media Server. Plex is independent of any ruTorrent processes and/or required plugins. Additionally, plowup is homespun in the script to add further support to ffmpeg in regards to screenshots etc.

As per Plex not being accessible... could you confirm if you are trying to access the GUI via ``http:`` or ``https:``. If you **are** tryin

[2016-04-28 22:09] scotlandman commented on #66
Hi Jason

HTTP it is trying to connect with thank you.

Screenshot attached.

Thank you

Ross

On 28 April 2016 at 21:09, Jason Matthews <notifications@github.com> wrote:

[2016-04-28 22:12] scotlandman commented on #66
Hi Jason

As far as fileupload I would like it for uploading torrents given the
server is acting as both seedbox and plex.

The uninstall and reinstall from the quickbox gui has been tried several
times and still no joy strange but hopefully my difficulty can help to
provide good feedback and maybe save any others from difficulty.

Really appreciate all of your efforts on my behalf.

Regards

Ross

[2016-04-28 22:21] JMSDOnline commented on #66
@scotlandman , as far as I know you do not really need the fileupload plugin for adding torrents to ruTorrent... you may simply drag and drop. Fileupload is only good for uploading files to the supported third-party platforms:

- 1fichier
- rapidshare
- megaupload
- zshare
- 2shared
- sendspace
- fileserve
- filesonic
- wupload

Plex additionally can be assigned a Library that is pointed to a dire

[2016-04-29 15:10] scotlandman commented on #66
Hello Jason

Thanks for your reply much appreciated. Understood regarding the fileupload
plugin I just assumed it would have something to do with uploading torrents
so mentioned it cheers.

In reply to your other questions I will do my best to answer.

1: Yes installed with root access via putty.
2: Yes using a /home primary partition (have read your other forum posts
regarding this thank you)
3:

[2016-04-29 15:39] ItsAdventureTime opened #70 "Ubuntu 16.04 LTS compatibility and all about fileshare and filemanager"
Hello,

I would like to know if it is possible to make this script compatible with Ubuntu 16.04 LTS? By the way, I just love this script. The best. Although I am fond of configuring things from scratch, this script saved me a lot of time. I just hope it uses nginx, hhvm with php7 fallback, nginx should have pagespeed and modsecurity so that rules or comodo web application firewall is something tha

[2016-04-29 17:20] JMSDOnline commented on #70
Hello @ItsAdventureTime ,

I could see an 16.04 supported version coming out very soon as I have already released my [JMSDOnline/vstacklet](https://github.com/JMSDOnline/vstacklet) production/application server installer script to work with both 16.04 as well as php 7.

As per nginx/hhvm - at the moment there is no established timeline for an nginx release and there will more than likely not be an

[2016-05-02 01:08] dtech4you opened #72 "Restarting quota problem"
everytime i restart server i have to reset user quotas, I got few things need worked on like getting plex working and the streaming but the quota is annoying having to set each reboot.